<form id="calendar-form" class="view form">
  <label for="name">Name</label>
  <input name="calendar[name]" value="{{name}}" type="text" class="form-control">
  <label for="url">URL</label>
  <input name="calendar[url]" value="{{url}}" type="text" class="form-control">
  <input type="submit" value="Update" class="btn btn-primary btn-large button">
</form>
