{{#unless calendars}}
    <p>There are no calendar links.  Click New to add an item.</p>
{{/unless}}
<table border="1">
{{#each calendars as |calendar|}}
  <tr class="calendar-row"  data-data-obj="{{JSONtoString calendar}}">
    <td>
      {{calendar.name}}
    </td>
     <td>
      {{limit calendar.url 15}}
    </td>
  </tr>
{{/each}}
</table>
