<p>Details will go hear</p>
<!-- <form id="detail" class="view form" style="display: None">
  <label for="name">Name</label>
  <input name="calendar_link[name]" type="text" class="form-control">
  <label for="url">URL</label>
  <input name="calendar_link[url]" value="{{calendar.link.url}}" type="text" class="form-control">
</form> -->
