<form id="new-calendar-form" class="view form">
  <label for="name">Name</label>
  <input name="calendar[name]" type="text" class="form-control">
  <label for="url">URL</label>
  <input name="calendar[url]" type="text" class="form-control">
  <input type="submit" value="Save" class="btn btn-primary btn-large button">
  <input id="back-from-new-calendar-button" type="button" value="Back" class="btn btn-primary btn-large button">
</form>
