<p>This is here</p>
{{#unless calendar_links}}
    <p>There are no calendar links.  Click New to add an item.</p>
{{/unless}}
<table border="1">
{{#each calendar_links as |calendar_link|}}
  {{log calendar_link}}
  <tr class="calendar-detail"  data-id="{{calendar_link.id}}">
    <td>
      {{calendar_link.name}}
    </td>
     <td>
      {{limit calendar_link.url 15}}
    </td>
  </tr>
{{/each}}
</table>
