<form id="calendar-form" class="view form">
  <input name="calendar[id]" type="hidden" value="{{id}}">
  <label for="name">Name</label>
  <input name="calendar[name]" value="{{name}}" type="text" class="form-control">
  <label for="url">URL</label>
  <input name="calendar[url]" value="{{url}}" type="text" class="form-control">
  <input type="submit" value="Update" class="btn btn-primary btn-large button">
  <input id="delete-calendar-button" type="button" data-id={{id}}  value="Delete" class="btn btn-primary btn-large button">
  <input id="back-from-calendar-button" type="button" value="Back" class="btn btn-primary btn-large button">
</form>
